@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #0f172a;
  background: #f8fafc;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  background: #f9fbfd;
}
